VITE_SUPABASE_URL=https://xuzuprhuhdopybfdzpwz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1enVwcmh1aGRvcHliZmR6cHd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MjcyMTgsImV4cCI6MjA5MDQwMzIxOH0.tbC_WX0GLr6sG5adX-nqNSbgkY9Acx3IGXNzur61JnM
